
### Fortran ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Project folder(s) and file(s)
old/
OLD/
Old/
/old/
/Old/
/OLD/
/conda/
conda/

hmc_debug_venv/
/hmc_debug_venv/
hmc_debug_venv/hmc_debug_settings/
/hmc_debug_venv/hmc_debug_settings

/build/
/nbproject/
nbproject/
nbproject/private/

.dep.inc
/dist/
*.log
hmc.log
LogZip.txt
data_*.txt
